<ul *ngFor="let node of nodes" [class.root]="node._id == 'ROOT_NODE' || parentNode._id == 'ROOT_NODE'">
    <li [class.root]="node._id == 'ROOT_NODE' || parentNode._id == 'ROOT_NODE'">
        <span [class.root]="node._id == 'ROOT_NODE'">{{node._id}}</span>
        <button class="addNode" (click)="addNode(node)">Add</button>
        <button class="removeNode" (click)="removeNode(node)">Remove</button>

        <div *ngIf="node.children && node.expanded">
            <app-treeview [dataService]="dataService" [subNodes]="node.children" [config]="config" [parentNode]="node"></app-treeview>
        </div>
    </li>
</ul>