<ul>
    <li *ngFor="let node of nodes">
        <span class="iconButton" (click)="toggle(node)">{{ getIcon(node) }}</span>
        {{node._id}}
        <button class="addNode" (click)="addNode(node)">Add</button>
        <button class="removeNode" (click)="removeNode(node)">Remove</button>

        <div *ngIf="node.children && node.expanded">
            <app-treeview [dataService]="dataService" [subNodes]="node.children" [config]="config" [parentNode]="node"></app-treeview>
        </div>
    </li>
</ul>