i.iconButton {
  margin-right: .3em;
  width: 8px;
}

i.root {
  margin-left: 0;
}

.add {
  color: green;
  margin-left: 10px;
  margin-right: 10px;
}
.remove {
  color: red;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-left: 1em;
}

li {
  padding: 0;
  margin-left: 0;
}

ul.root, li.root {
  margin-left: 0;
  padding: 0;
}

span.root {
  display: none;
}