i.iconButton {
  margin-right: .3em;
  width: 8px;
}

i.root {
  margin-left: 0;
}

.add {
  color: green;
  margin-left: 10px;
  margin-right: 10px;
}
.remove {
  color: red;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-left: 1em;
}

li {
  padding: 0;
  margin-left: 0;
}

ul.root, li.root {
  margin-left: 0;
  padding: 0;
}

span.root {
  display: none;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.dnd-drag-start {
  -moz-transform:scale(0.8);
  -webkit-transform:scale(0.8);
  transform:scale(0.8);
  opacity:0.7;
  border: 2px dashed #000;
}

.dnd-drag-enter {
  opacity:0.7;
  border: 2px dashed #000;
}

.dnd-drag-over {
  border: 2px dashed #000;
}

.dnd-sortable-drag {
  -moz-transform:scale(0.9);
  -webkit-transform:scale(0.9);
  transform:scale(0.9);
  opacity:0.7;
  border: 1px dashed #000;
}
